body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 30px;
    background-color: #f3f3f3;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

#status {
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #333;
}
